<a href="https://colab.research.google.com/github/Aaron25m/ISP-Files/blob/main/ISP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda & Mapping

In [ ]:
list1=[1,2,3,4,5,6]
list(filter(lambda x: x%2==0, list1))

[2, 4, 6]

In [ ]:
list_1=[1,2,3,4,5,6,7,8]
cubed=map(lambda x: pow(x,3), list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512]

In [ ]:
import pandas as pd
df = pd.DataFrame({
    "Name": ["Aaron","Pearlyn","Sayooj","Anoushka"],
    "Status": ["Single","Married","Single","Single"],
    "Birthyear": [2003,2003,2003,2003],
})
df

       Name   Status  Birthyear
0     Aaron   Single       2003
1   Pearlyn  Married       2003
2    Sayooj   Single       2003
3  Anoushka   Single       2003

In [ ]:
df["Age"]=df["Birthyear"].apply(lambda x:2022-x)
df

       Name   Status  Birthyear  Age
0     Aaron   Single       2003   19
1   Pearlyn  Married       2003   19
2    Sayooj   Single       2003   19
3  Anoushka   Single       2003   19